*{
    margin: 0px;
    padding: 0px;
}

.Page_1 .pageColor {
    position: absolute;
    right: 0px;
    margin: 20px;
    width: 30px;
    height: 20px;
    overflow: hidden;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Page_1 .pageColor:hover{
    height: auto;
}

.Page_1 .pageColor ion-icon:hover{
    opacity: 0.5;
}
.Page_1 .pageColor button{
    margin-bottom: 15px;
    border-radius: 100%;
    height: 20px;
    border: black 1px solid;
}

.Page_1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(98, 156, 206);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page_1 section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile::before{
    content: "Page de contact";
    font-size: 25px;
    color: white;
    position: absolute;
    top: 15%;
    border-bottom: 1px white solid; padding-bottom: 1%;
}

.profile_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(98, 156, 206);
    padding: 4px;
    border: 2px white solid;
}

img:hover{
    transform: rotate(5deg);
}

.profile_img img:hover{animation:  smooth 0.7s forwards;}

@keyframes smooth {
    to{background-color: white;}
    
}

.profile .title{
    padding-top: 10%;
    width: 100%;
    transform: translateX(10%);
}

.profile .title span {
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

.profile .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background: rgb(186, 43, 43, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-left: 50%;
    transform: translateX(-20px);
    cursor: pointer;
}

.profile button:hover{ 
    animation: styl 0.1s forwards;
    border-radius: 10%;
    }
@keyframes styl{
    from{
    }
    to{
        transform: scale(110%);
        border: 1.3px solid white;
        border-radius: 10%;
    }
}


.profile button{
    
    text-decoration: none;
    border: none;
    font-size: 12px;
    color: white;
    background-color:rgb(186, 43, 43, 0);
    cursor: pointer;
    padding: 5px;
}

section .pop  {
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.5);
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events:none; 
}

.pop img {
    width: 60px;
    height:60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.pop::after {
    bottom: 50px;
    background-color: rgb(141, 209, 143);
    content: "Message recu avec succés";
    position: absolute;
    color: rgb(245, 255, 188);
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
}

section.succes .pop::after{
    animation: succes 1s ;
}
@keyframes succes {
    from{}
    to {opacity: 1;}
    
}

.container_box {
    position: absolute;
    background-color: aliceblue;
    padding : 30px;
    max-width: 380px;
    width: 100%;
    border-radius: 12px;
}

.pop .box .popProfilText {
    position: relative;
    left: -25%;
    top: -20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.box .textarea{
   resize: none;
   width: 100%;
   min-height: 50px;
   background-color: f3f3f3;
   border-radius: 6px;
   border: 1px solid #ddd;
   outline: none;
   font-size: 14px;
   padding-left: 40px;
   margin-bottom:10px;
}

input:hover{
    color: rgb(162, 162, 162);
    transform: scale(101%);
}

.box .btn {
    background:  rgb(98, 156, 206, 0.8);
    color: white;
    border: none; 
    cursor: pointer;
    padding: 12px 6px; 
    margin-top: 5px;
    border-radius: 6px;

}

.box .btn:hover {
    background-color:   rgb(98, 156, 206);
}

section.show .pop{
    opacity: 1;
    position: absolute;
    top: 0px;
    pointer-events:auto;
    height:100vh
}

section.show .profile{
    display: none;
}


a { text-decoration: none; color: white;}

.Page_1 .footer a:hover{
    opacity: 0.5;
    animation: up 0.4s forwards;
}

@keyframes up {
    from {}
    to{transform: translateY(-10%);}
}

section.vert .Page_1{
    background-color: rgb(155, 25, 53);
}

section.black .Page_1{
    background-color: rgb(181,161,6);
}

section.blue .Page_1{
    background-color:  rgb(98, 101, 167);
}

section.red .Page_1{
    background-color:  rgb(98, 156, 206); 
}