*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(98, 156, 206);
    animation: start 3s forwards;
    opacity: 0;
}

section {
    opacity: 1;
    pointer-events: none;
    animation: turnon 5.5s forwards;
}

@keyframes turnon {
    0%,95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        pointer-events:all;
    }

 }

.Page_1 .pageColor {
    position: absolute;
    right: 0px;
    margin: 20px;
    width: 30px;
    height: 20px;
    overflow: hidden;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Page_1 .pageColor:hover{
    animation: 1s optionColor forwards;
}

@keyframes optionColor {
    from{ height: 20px;}
    to{
        height:200px;
    }
    
}

.Page_1 .pageColor ion-icon:hover{
    opacity: 0.5;
}

.Page_1 .pageColor button{
    margin-bottom: 15px;
    border-radius: 100%;
    height: 20px;
    border: black 1px solid;
}

.Page_1 .pageColor button:hover{
    transform: scale(120%);
    border: white 1px solid;
}

.Page_1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(98, 156, 206);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page_1 section {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes start {
    form{opacity: 0;}
    to{opacity: 1;}
}

.profile_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    border: 2px white solid;
}

img:hover{
    transform: rotate(5deg);
}

.profile_img img:hover{animation:  smooth 0.7s forwards;}

@keyframes smooth {
    to{background-color: white;}
    
}

.profile .pancarte {
    order: 2;
    animation: translate_pancarte 0s ease-in;
    transform: scale(90%);
    opacity: 0;
}

@keyframes translate_pancarte {
    0% ,94%{       
    }
    98%,99%{
        transform: translateY(-50%) translateX(40%) scale(100%);
        opacity: 1;
    }
    100%{}
}

.profile .title{
    padding-top: 10%;
    width: 100%;
    transform: translateX(10%);
}

.profile .title span {
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

.profile .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background: rgb(186, 43, 43, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-left: 50%;
    transform: translateX(-20px);
    cursor: pointer;
}

.profile button:hover{ 
    animation: styl 0.1s forwards;
    border-radius: 10%;
    }
@keyframes styl{
    from{
    }
    to{
        transform: scale(110%);
        border: 1.3px solid white;
        border-radius: 10%;
    }
}


.profile button{
    
    text-decoration: none;
    border: none;
    font-size: 12px;
    color: white;
    background-color:rgb(186, 43, 43, 0);
    cursor: pointer;
    padding: 5px;
}

section .pop  {
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.5);
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events:none; 
}

section.show .containeravis{
    opacity: 0;
}

section.show .footer{
    opacity: 0;
}


.pop img {
    width: 60px;
    height:60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.pop::after {
    bottom: 50px;
    background-color: rgb(141, 209, 143);
    content: "Message recu avec succés";
    position: absolute;
    color: rgb(245, 255, 188);
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
}

section.succes .pop::after{
    animation: succes 1s ;
}
@keyframes succes {
    from{}
    to {opacity: 1;}
    
}

.container_box {
    position: absolute;
    background-color: aliceblue;
    padding : 30px;
    max-width: 380px;
    width: 100%;
    border-radius: 12px;
}

.pop .box .popProfilText {
    position: relative;
    left: -25%;
    top: -20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.box .textarea{
   resize: none;
   width: 100%;
   min-height: 50px;
   background-color: f3f3f3;
   border-radius: 6px;
   border: 1px solid #ddd;
   outline: none;
   font-size: 14px;
   padding-left: 40px;
   margin-bottom:10px;
}

input:hover{
    color: rgb(162, 162, 162);
    transform: scale(101%);
}

.box .btn {
    background:  rgb(98, 156, 206, 0.8);
    color: white;
    border: none; 
    cursor: pointer;
    padding: 12px 6px; 
    margin-top: 5px;
    border-radius: 6px;

}

.box .btn:hover {
    background-color:   rgb(98, 156, 206);
}

section.show .pop{
    opacity: 1;
    position: absolute;
    top: 0px;
    pointer-events:auto;
    height:100vh
}

section.show .profile{
    opacity: 0;
}
section.show .containeravis{
    pointer-events: none;
}


a { text-decoration: none; color: white;}

.Page_1 .footer a:hover{
    opacity: 0.5;
    animation: up 0.4s forwards;
}

@keyframes up {
    from {}
    to{transform: translateY(-10%);}
}

section.vert .Page_1{
    animation: swaptoRed 1s forwards;
}

@keyframes swaptoRed {
    from{}
    to{
        background-color: rgb(155, 25, 53);

    }
    
}

section.black .Page_1{
    animation: swaptoYellow 1s forwards;
}

@keyframes swaptoYellow {
    from{}
    to{
        background-color: rgb(181,161,6);

    }
    
}

section.blue .Page_1{
    animation: swaptoPurple 1s forwards;
}

@keyframes swaptoPurple {
    from{}
    to{
        background-color:  rgb(98, 101, 167);

    }
    
}
section.red .Page_1{
    animation: swaptoBlue 1s forwards;
}

@keyframes swaptoBlue {
    from{}
    to{
        background-color:  rgb(98, 156, 206); 

    }
    
}

.Page_1 .footer .cv {
    margin-right: 5px;
}

.Page_1 .containeravis  {
    cursor: default;
    color: rgb(169, 165, 165);
}

.Page_1 .containeravis div:hover {
       transform: scale(110%);
       border: white 1px solid;
}

.Page_1 .device::after {
    content: "";
}
section.pouce .Page_1 .containeravis{
    pointer-events: none;
}

@media screen and (max-width: 400px) {
    @keyframes translate_pancarte {
        0%{    
        }
        50%, 80%{
            transform: translateY(-35%) translateX(40%) scale(100%);
            opacity: 1;
        }
        100%{
        }
    }

    .Page_1 .device::after {
        content: "";
    }

    .loadingConatainer div{
        animation: turn 4.5s infinite ;
        border: white 4px solid; 
        height: 45%;  
        border-radius:62% 48% 22% 88% / 84% 87% 13% 16% ; 
        width: 30%;  
        position: absolute; top:25%; left: 35%; ;
    }
    .loadingConatainer .bar2{
      animation: turn 4s infinite ;
      border: white 4px solid; 
      height: 45%;  
      border-radius:62% 48% 22% 88% / 84% 87% 13% 16% ; 
      width: 30%;  
      position: absolute; top:25%; left: 35%; ;
    }
    .loadingConatainer .bar3{
      animation: turns 5s infinite ;
      border: white 4px solid; 
      height: 45%;  
      border-radius:62% 48% 22% 88% / 84% 87% 13% 16% ; 
      width: 30%;  
      position: absolute; top:25%; left: 35%; ;
    }


  }

  .loadingConatainer .bar1{
      animation: turn 4.5s infinite ;
  }
  .loadingConatainer .bar2{
    animation: turn 4s infinite ;
  }
  .loadingConatainer .bar3{
    animation: turns 5s infinite ;
  }

  @keyframes turn {
      0%{}
      100%{
        transform: rotate(360deg) ;
      }
  }


  .loadingConatainer span:nth-child(1){
      animation: hide 1s infinite;
}

  .loadingConatainer span:nth-child(2){
    animation: hide 2s infinite;
}

  .loadingConatainer span:nth-child(3){
    animation: hide 2.5s infinite;
}

.containerload {
    animation: turnoff 2s forwards;
}

 @keyframes hide {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }

 }

 @keyframes turnoff {
    0%,99%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        width: 0px;
        height: 0px;
        overflow: hidden; 
         
    }

 }
